/*EXAMPLE: how to change the svg rateo*/

/*#plot_attack_explosion_1,
#plot_attack_armed_assault_1,
#plot_attack_assassination_1,
#plot_attack_hostage_taking_1,
#plot_attack_infrastructure_attack_1 {
    aspect-ratio: 1;
 }
*/